﻿
@{
    /**/

    ViewBag.Title = "Test2";
}

姓名:@Html.TextBox("Html.Text")<br />
<br />
帳號:@Html.TextBox("Html.Account")<br />
<br />
密碼:@Html.Password(" Html.Password ")<br />
<br />
性別:
<br />

@Html.RadioButton("isnew", "0")男性
@Html.RadioButton("isnew", "1")女性
<br />
興趣:
<br />
@Html.CheckBox("hobbie", "swim")游泳
@Html.CheckBox("hobbie", "read")閱讀
@Html.CheckBox("hobbie", "movie")看電影
<br />
自我介紹:
@Html.TextArea("area")




