﻿
@{
    ViewBag.Title = "Test1";
}
<html>

<body>
    <br />
    姓名:<INPUT TYPE="text" NAME="username"><br>
    <br />

    帳號:<INPUT type="member" name="membername"<br><br />
    <br />
    密碼:<INPUT TYPE="password" NAME="password"><br>
    <br />
    性別:
    <INPUT TYPE="radio" NAME="AGE" VALUE=1>男性
    <INPUT TYPE="radio" NAME="AGE" VALUE=1>女性
    <br />
    興趣:
    <INPUT TYPE="checkbox" NAME="hobbies" VALUE=swim>游泳
    <INPUT TYPE="checkbox" NAME="hobbies" VALUE=read>閱讀
    <INPUT TYPE="checkbox" NAME="hobbies" VALUE=movie>看電影
    <br />
    自我介紹:
    <TEXTAREA NAME="COMMENT" ROWS=3 COLS=30>
    
    </TEXTAREA>
</body>

</html>